<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Reciplease.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>08B21F612A0BFC6900CBAC97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08B21F762A0BFC6F00CBAC97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08B21F802A0BFC6F00CBAC97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
